<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New review</title>
    <!-- Addition of external stylesheets -->
    <link rel="stylesheet" th:href="@{/css/app.css}"/>
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="https://fastcdn.org/Buttons/2.0.0/css/buttons.css" rel="stylesheet">

    <!-- Inclusion of external Javascript -->
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
    <script src="https://fastcdn.org/Buttons/2.0.0/js/buttons.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLACmLSGxjkF_Gucgj0rWPTKcNWvDwW5s&libraries=places"></script>

    <!-- Definition of internal styles -->
    <style>
        #map {
            height: 400px;
        }

        #container-place-data {
            height: 0;
            visibility: hidden;
        }

        #container-place-info {
            font-size: 14px;
        }

        #container-selection-status {
            visibility: hidden;
        }
    </style>
</head>
<body>
<div th:insert="fragments/navbar :: navbar">

</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <!-- Review form creation -->
            <form class="form-group col-sm-12 form-vertical form-app" id="form-login" method="post" th:action="@{/reviews}">
                <div class="col-sm-12 mt-2 lead">Write your review</div>
                <div th:if="${error != null}" class="text-danger" th:text="${error}"></div>
                <hr>
                <input class="form-control" type="text" name="title" placeholder="Title" th:value="${title}" required/>
                <textarea class="form-control mt-4" rows="13" name="body" placeholder="Review" th:value="${body}" required></textarea>
                <div class="form-group" id="container-place-data">
                    <!-- Input fields for location specific form data -->
                    <!-- Form input data for the fields below are provided by the Google Places API -->
                    <input class="form-control" id="place_address" th:value="${placeAddress}" type="text" name="placeAddress" required/>
                    <input class="form-control" id="place_name" type="text" name="placeName" th:value="${placeName}" required/>
                    <input class="form-control" id="place_id" type="text" name="placeId" th:value="${placeId}" required/>
                    <input id="location-lat" type="number" name="latitude" step="any" th:value="${latitude}" required/>
                    <input id="location-lng" type="number" name="longitude" step="any" th:value="${longitude}" required/>
                </div>
                <div class="form-group mb-3">
                    <button class="button button-pill" type="button" data-toggle="modal" data-target="#mapModal">
                        <i class="fa fa-map-marker" aria-hidden="true"></i> Select Location
                    </button>
                    <button class="button button-pill button-primary">Submit Review</button>
                </div>
                <div class="text-success ml-2" id="container-selection-status">Location selected</div>
            </form>
        </div>
    </div>

    <!-- Map Modal -->
    <div class="modal fade" id="mapModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Select place to review</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div id="map">
                        </div>
                        <div class="row mt-2" id="container-place-info">
                            <div class="col-sm-12" id="container-place-name"><b>Place Name:</b> </div>
                            <div class="col-sm-12" id="container-place-address"><b>Place Address:</b> </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // form field reference creation
    var formattedAddressField = document.getElementById('place_address');
    var placeNameField = document.getElementById('place_name');
    var placeIdField = document.getElementById('place_id');
    var latitudeField = document.getElementById('location-lat');
    var longitudeField = document.getElementById('location-lng');

    // container reference creation
    var containerPlaceName = document.getElementById('container-place-name');
    var containerPlaceAddress = document.getElementById('container-place-address');
    var containerSelectionStatus = document.getElementById('container-selection-status');

    /**
     * invoked to initialize Google map
     */
    function initialize() {

        navigator.geolocation.getCurrentPosition(function(location) {
            var latitude = location.coords.latitude;
            var longitude = location.coords.longitude;

            var center = new google.maps.LatLng(latitude, longitude);

            var map = new google.maps.Map(document.getElementById('map'), {
                center: center,
                zoom: 15,
                scrollwheel: false
            });

            var service = new google.maps.places.PlacesService(map);

            map.addListener('click', function(data) {
                getPlaceDetailsById(service, data.placeId);
            });
        });

    }

    /**
     * Invoked to retrieve the details of a place
     * @param service
     * @param placeId
     */
    function getPlaceDetailsById(service, placeId) {
        var request = {
            placeId: placeId
        };

        service.getDetails(request, function (place, status) {
            if (status === google.maps.places.PlacesServiceStatus.OK) {
                updateViewData(place)
            }
        });
    }

    /**
     * Invoked to update view information
     * @param place
     */
    function updateViewData(place) {
        setFormValues(
            place.formatted_address,
            place.name,
            place.place_id,
            place.geometry.location.lat(),
            place.geometry.location.lng()
        );

        setContainerText('<b>Place Name: </b>' + place.name,
            '<b>Place Address: </b>' + place.formatted_address);

        showSelectionStatusContainer();
    }

    /**
     * Invoked to update view form data
     * @param formattedAddress
     * @param placeName
     * @param placeId
     * @param latitude
     * @param longitude
     */
    function setFormValues(formattedAddress, placeName, placeId, latitude, longitude) {
        formattedAddressField.value = formattedAddress;
        placeNameField.value = placeName;
        placeIdField.value = placeId;
        latitudeField.value = latitude;
        longitudeField.value = longitude;
    }

    function showSelectionStatusContainer() {
        containerSelectionStatus.style.visibility = 'visible'
    }

    function setContainerText(placeNameText, placeAddressText) {
        containerPlaceName.innerHTML = placeNameText;
        containerPlaceAddress.innerHTML = placeAddressText;
    }

    // Initializes map upon window load completion
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
</body>
</html>