<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/app.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="https://fastcdn.org/Buttons/2.0.0/css/buttons.css" rel="stylesheet">

    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
    <script src="https://fastcdn.org/Buttons/2.0.0/js/buttons.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLACmLSGxjkF_Gucgj0rWPTKcNWvDwW5s&libraries=places"></script>

    <style>
        #map {
            height: 400px;
        }

        .container-review {
            background-color: white;
            border-radius: 2px;
            font-family:sans-serif;
            box-shadow: 0 0 1px black;
            border-color: black;
            padding: 0;
            min-width: 250px;
            height: 230px;
        }

        .review-author {
            font-size: 15px
        }

        .review-location {
            font-size: 12px
        }

        .review-title {
            font-size: 13px;
            text-decoration-style: dotted;
            height: calc(20 / 100 * 230px);
        }

        .review-content {
            font-size: 12px;
            height: calc(40 / 100 * 230px);
        }

        .review-header {
            height: calc(20 / 100 * 230px)
        }

        hr {
            margin: 0;
        }

        .review-footer {
            height: calc(20 / 100 * 230px);
        }
    </style>
</head>
<body th:onload="'javascript:showNoReviewNotification(' + ${reviews.size() == 0} + ')'">
<div th:insert="fragments/navbar :: navbar">

</div>
<div class="container">
    <div class="row mt-5">

        <!-- Creates view containers for each review retrieved -->
        <div th:each="review: ${reviews}" class="col-sm-2 container-review mt-4 mr-2">
            <div class="review-header pt-1">
                <div class="col-sm-12 review-author text-success">
                    <b th:text="${review.reviewer.username}"></b>
                </div>
                <div th:text="${review.placeName}" class="col-sm-12 review-location">
                </div>
            </div>
            <hr>
            <b>
                <div th:text="${review.title}" class="col-sm-12 review-title pt-1">
                </div>
            </b>
            <hr>
            <div th:text="${review.body}" class="col-sm-12 review-content pt-2">
            </div>
            <div class="review-footer">
                <!-- Renders modal showing review location on a map -->
                <button class="col-sm-12 button button-small button-primary" type="button"
                        data-toggle="modal" data-target="#mapModal" style="height: inherit; border-radius: 2px;"
                        th:onclick="'javascript:showLocation(' + ${review.latitude} + ',' + ${review.longitude} + ',\'' + ${review.placeId} + '\')'">
                    <i class="fa fa-map-o" aria-hidden="true"></i>
                    View location
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mapModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reviewed location</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div id="map">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>
<span style="bottom: 20px; right: 20px; position: fixed">
    <form method="get" th:action="@{/create-review}">
        <button class="button button-primary button-circle button-giant navbar-bottom" type="submit"><i class="fa fa-plus"></i></button>
    </form>
</span>

<script>
    /**
     * Shows a toast notification to the user when no review is present
     * @param show - true if notification is to be shown and false otherwise
     */
    function showNoReviewNotification(show) {
        if (show) {
            toastr.info('No reviews to see');
        }
    }

    /**
     * Initializes and displays a map showing the location where
     * a review was written
     * @param latitude - latitudinal coordinate
     * @param longitude - longitudinal coordinate of location
     * @param placeId - place id of location
     */
    function showLocation(latitude, longitude, placeId) {
        var center = new google.maps.LatLng(latitude, longitude);

        var map = new google.maps.Map(document.getElementById('map'), {
            center: center,
            zoom: 15,
            scrollwheel: false
        });
        var service = new google.maps.places.PlacesService(map);

        loadPlaceMarker(service, map, placeId);
    }

    /**
     * Creates a map marker on the reviewed location
     * @param service
     * @param map
     * @param placeId
     */
    function loadPlaceMarker(service, map, placeId) {
        var request = {
            placeId: placeId
        };

        service.getDetails(request, function (place, status) {
            if (status === google.maps.places.PlacesServiceStatus.OK) {
                new google.maps.Marker({
                    map: map,
                    title: place.name,
                    place: {
                        placeId: place.place_id,
                        location: place.geometry.location
                    }

                })
            }
        });
    }
</script>
</body>
</html>